<div class="auth-container">
  <div class="hero">
    <img src="assets/images/hero.jpg" alt="Hero Image" />
  </div>
  <div class="bgimg"></div>
  <div class="form-container">
    <div class="tabs">
      <button [class.active]="isLogin" (click)="toggle(true)">Login</button>
      <button [class.active]="!isLogin" (click)="toggle(false)">Sign Up</button>
    </div>

    <div *ngIf="isLogin"  class="form">
      <h2>Welcome Back</h2>
      <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
      <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
      <button type="submit" (click)="onLogin()">Login</button>
    </div>

    <div *ngIf="!isLogin" class="form">
      <h2>Create Account</h2>
      <input type="text" name="fullname" [(ngModel)]="name" placeholder="Full Name" required />
      <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
      <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
      <button type="submit" (click)="onSignup()">Sign Up</button>
    </div>
  </div>
</div>
